@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap');

#kc-page-title {
 font-family: 'Montserrat', sans-serif;
}

.login-pf body {
    background-color: #FFFFFF;
    background: none;
}

.card-pf {
    border-color: #8751FE;
}

.otp-form-hr {
    opacity: 0.2;
    border: 1px solid #000000;
}

#kc-header-wrapper {
    display: none;
}

.login-pf-header::before {
   content: '';
   height: 10rem;
   display: block;
   background-size: 20rem;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url("../img/votech_logo.svg");
 }

.pf-c-button.pf-m-primary {
    background: linear-gradient(90deg, #752DF0 0%, #302692 100%);
    border-radius: 46px;
    padding: 10px;
    height: 55px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.pf-c-form-control {
    --pf-c-form-control--BorderTopColor: #8751FE;
    --pf-c-form-control--BorderRightColor: #8751FE;
    --pf-c-form-control--BorderLeftColor: #8751FE;
    --pf-c-form-control--hover--BorderBottomColor: #8751FE;
    --pf-c-form-control--focus--BorderBottomColor: #8751FE;
    --pf-c-form-control--m-expanded--BorderBottomColor: #8751FE;
    --pf-c-form-control--readonly--focus--BorderBottomColor: #8751FE;
    --pf-c-form-control--readonly--hover--BorderBottomColor: #8751FE;

}

.pf-c-form-control:focus {
    --pf-c-form-control--BorderBottomColor: #8751FE;
}

#kc-select-try-another-way-form {
    display: none;
}

.otp-strategy-instruction {
    font-family: 'Open Sans', sans-serif;
    color: #7C7C7C;
}