.login-pf body {
    background-color: #FFFFFF;
    background: none;
}

.card-pf {
    border-color: #8751FE;
}

.pf-c-button.pf-m-primary {
    background-color: #8751FE;
    margin-bottom: var(--pf-global--spacer--sm);
}

.pf-c-form-control {
    --pf-c-form-control--BorderTopColor: #8751FE;
    --pf-c-form-control--BorderRightColor: #8751FE;
    --pf-c-form-control--BorderLeftColor: #8751FE;
    --pf-c-form-control--hover--BorderBottomColor: #8751FE;
    --pf-c-form-control--focus--BorderBottomColor: #8751FE;
    --pf-c-form-control--m-expanded--BorderBottomColor: #8751FE;
    --pf-c-form-control--readonly--focus--BorderBottomColor: #8751FE;
    --pf-c-form-control--readonly--hover--BorderBottomColor: #8751FE;

}

.pf-c-form-control:focus {
    --pf-c-form-control--BorderBottomColor: #8751FE;
}

#kc-select-try-another-way-form {
    display: none;
}